.home_full {
  margin: 0;
  padding: 0;
}

.hero_full {
  height: 80vh;            
  background-image: url("../assets/HomePage.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero_overlay_full {
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: flex-start;   
  padding: 60px;
}

.hero_small {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 8px;
}

.hero_title {
  font-size: 3rem;
  margin-bottom: 12px;
}

.hero_subtitle {
  max-width: 600px;
  margin-bottom: 20px;
}

.hero_search {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 20px;
}

.hero_chips {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}